<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sodam.transactionservice.domain.repository.StatMapper">

    <select id="getStat"
            parameterType="com.sodam.transactionservice.application.api.dto.StatRequest"
            resultType="com.sodam.transactionservice.application.api.dto.StatResponse"
    >
        SELECT
            SUM(tr.amount),
            tr.category_seq,
            tr.type,
            NVL(cg.name, '미분류')
        FROM
            transaction tr
            LEFT JOIN category cg ON tr.category_seq = cg.id
        WHERE
            1=1
            and tr.user_seq = #{userSeq, javaType = Long, jdbcType = BIGINT}
        GROUP BY
            tr.category_seq
    </select>

</mapper>